@model QLAdmin.Areas.Admin.Data.DanhmucVM

@{
    ViewBag.Title = "AddDanhmuc";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container mt-4">
    <h2 class="mb-4">Thêm Mới Danh Mục</h2>

    @using (Html.BeginForm("AddDanhmuc", "QLDanhmuc", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Thông Tin Danh Mục</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

    <div class="form-group row">
        @Html.LabelFor(model => model.TenPhanLoai, htmlAttributes: new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenPhanLoai, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenPhanLoai, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row mt-3 text-end">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary me-2">
                <i class="fa fa-plus"></i> Thêm
            </button>
            <a href="@Url.Action("Index", "QLDanhmuc")" class="btn btn-secondary">
                <i class="fa fa-arrow-left"></i> Quay về
            </a>
        </div>
    </div>
</div>
    }
</div>