@model QLAdmin.Areas.Admin.Data.SanphamVM

@{
    ViewBag.Title = "AddSP";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container mt-4">
    <h2 class="mb-4">Thêm Sản Phẩm</h2>

    @using (Html.BeginForm("AddSP", "QLSanpham", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Thông Tin Sản Phẩm</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.TenSanPham, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenSanPham, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenSanPham, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.Gia, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    <input type="file" name="fileUpload" Value="file" />
                    @*@Html.EditorFor(model => model.HinhAnh, new { htmlAttributes = new { @class = "form-control" } })
                      @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.SoLuong, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.SizeID, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.DropDownList("SizeID", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SizeID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.PhanLoaiID, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.DropDownList("PhanLoaiID", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PhanLoaiID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row mt-3 text-end">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary me-2">
                        <i class="fa fa-plus"></i> Thêm
                    </button>
                    <a href="@Url.Action("Index", "QLSanpham")" class="btn btn-secondary">
                        <i class="fa fa-arrow-left"></i> Quay về
                    </a>
                </div>
            </div>
        </div>
    }
</div>
