@model QLAdmin.Areas.Admin.Data.SanphamVM

@{
    ViewBag.Title = "DetailSP";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container mt-4">
    <h2 class="mb-4">CHI TIẾT SẢN PHẨM</h2>

    <div class="card">
        <div class="card-header text-white" style="background-color:#b79033">
            <h5 class="card-title">Thông Tin Sản Phẩm</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Mã Sản Phẩm:</dt>
                <dd class="col-sm-9">@Model.SanPhamID</dd>

                <dt class="col-sm-3">Tên Sản Phẩm:</dt>
                <dd class="col-sm-9">@Model.TenSanPham</dd>

                <dt class="col-sm-3">Giá:</dt>
                <dd class="col-sm-9">@Model.Gia</dd>

                <dt class="col-sm-3">Mô Tả:</dt>
                <dd class="col-sm-9">@Model.MoTa</dd>

                <dt class="col-sm-3">Hình Ảnh:</dt>
                <dd class="col-sm-9">
                    @if (!string.IsNullOrEmpty(Model.HinhAnh))
                    {
                        <img src="@Model.HinhAnh" alt="Image" class="img-fluid" />
                    }
                    else
                    {
                        <span>Chưa có hình ảnh</span>
                    }
                </dd>

                <dt class="col-sm-3">Số Lượng:</dt>
                <dd class="col-sm-9">@Model.SoLuong</dd>

                <dt class="col-sm-3">Size ID:</dt>
                <dd class="col-sm-9">@Model.SizeID</dd>

                <dt class="col-sm-3">Tên Size:</dt>
                <dd class="col-sm-9">@ViewBag.Tensize</dd>

                <dt class="col-sm-3">Tên Phân Loại:</dt>
                <dd class="col-sm-9">@ViewBag.TenPL</dd>
            </dl>
        </div>
        <div class="card-footer text-end">
            @Html.ActionLink("SỬA", "EditSP", new { id = Model.SanPhamID }, new { @class = "btn btn-xs btn-warning" })
            @Html.ActionLink("TRỞ VỀ", "Index", "QLSanpham", new { @class = "btn btn-xs btn-success" })
        </div>
    </div>
</div>
