<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/CSS/style.css">
</head>
<body>
    <div class="wrapper">
        <aside id="sidebar" class="js-sidebar">
            <!-- Sidebar content -->
            <div class="h-100" >
                <div class="sidebar-logo">
                    <a href="#">SHOP ONLINE</a>
                </div>
                <ul class="sidebar-nav">
                    <li class="sidebar-header" style="text-align:center">CHỨC NĂNG HỆ THỐNG</li>
                    <li class="sidebar-item">
                        <a href="@Url.Action("Index","QLAdmin")" class="sidebar-link">
                            <i class="fa-solid fa-tachometer-alt pe-2"></i>
                            DASHBOARD
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="@Url.Action("QLNguoidung","QLNguoidung")" class="sidebar-link">
                            <i class="fa-regular fa-user pe-2"></i>
                            NGƯỜI DÙNG
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="@Url.Action("Index", "QLSize")" class="sidebar-link">
                            <i class="fa-solid fa-ruler-horizontal pe-2"></i>
                            SIZE
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="@Url.Action( "Index","QLDanhmuc")" class="sidebar-link">
                            <i class="fa-solid fa-th-list pe-2"></i>
                            PHÂN LOẠI
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="@Url.Action("Index", "QLSanpham")" class="sidebar-link">
                            <i class="fa-solid fa-box-open pe-2"></i>
                            SẢN PHẨM
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="@Url.Action("Index", "QLDonhang")" class="sidebar-link">
                            <i class="fa-solid fa-receipt pe-2"></i>
                            ĐƠN HÀNG
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="@Url.Action("Index", "QLThongke")" class="sidebar-link">
                            <i class="fa-solid fa-chart-line pe-2"></i>
                            THỐNG KÊ
                        </a>
                    </li>
                    </ul>
            </div>
                    @*<li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse"
               aria-expanded="false">
                <i class="fa-solid fa-file-lines pe-2"></i>
                Pages
            </a>
            <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="@Url.Action("Page1", "Admin")" class="sidebar-link">Page 1</a>
                </li>
                <li class="sidebar-item">
                    <a href="@Url.Action("Page2", "Admin")" class="sidebar-link">Page 2</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed" data-bs-target="#posts" data-bs-toggle="collapse"
               aria-expanded="false">
                <i class="fa-solid fa-sliders pe-2"></i>
                Posts
            </a>
            <ul id="posts" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="@Url.Action("Post1", "Admin")" class="sidebar-link">Post 1</a>
                </li>
                <li class="sidebar-item">
                    <a href="@Url.Action("Post2", "Admin")" class="sidebar-link">Post 2</a>
                </li>
                <li class="sidebar-item">
                    <a href="@Url.Action("Post3", "Admin")" class="sidebar-link">Post 3</a>
                </li>
            </ul>
        </li>*@
                    @*<li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed" data-bs-target="#auth" data-bs-toggle="collapse"
               aria-expanded="false">
                <i class="fa-regular fa-user pe-2"></i>
                Auth
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="@Url.Action("Login", "Account")" class="sidebar-link">Login</a>
                </li>
                <li class="sidebar-item">
                    <a href="@Url.Action("Register", "Account")" class="sidebar-link">Register</a>
                </li>
                <li class="sidebar-item">
                    <a href="@Url.Action("ForgotPassword", "Account")" class="sidebar-link">Forgot Password</a>
                </li>
            </ul>
        </li>*@
                    @*<li class="sidebar-header">Multi Level Menu</li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-target="#multi" data-bs-toggle="collapse"
                       aria-expanded="false">
                        <i class="fa-solid fa-share-nodes pe-2"></i>
                        Multi Dropdown
                    </a>
                    <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link collapsed" data-bs-target="#level-1"
                               data-bs-toggle="collapse" aria-expanded="false">Level 1</a>
                            <ul id="level-1" class="sidebar-dropdown list-unstyled collapse">
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Level 1.1</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Level 1.2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>*@
</aside>
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
                <button class="btn" id="sidebar-toggle" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                                <img src="~/Content/images/profile.jpg" class="avatar img-fluid rounded" alt="">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="@Url.Action("Profile", "Account")" class="dropdown-item">Profile</a>
                                <a href="@Url.Action("Settings", "Account")" class="dropdown-item">Settings</a>
                                <a href="@Url.Action("Logout", "Account")" class="dropdown-item">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="content px-3 py-2">
                <div>
                @RenderBody()
                </div>
            </main>
            @*<a href="#" class="theme-toggle">
                <i class="fa-regular fa-moon"></i>
                <i class="fa-regular fa-sun"></i>
            </a>*@
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <a href="#" class="text-muted">
                                    <strong>yenduy</strong>
                                </a>
                            </p>
                        </div>
                      
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/JS/script.js"></script>
</body>
</html>
