@model QLAdmin.Areas.Admin.Data.KichthuocVM

@{
    ViewBag.Title = "DeleteSize";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container mt-4">
    <h2 class="mb-4 text-danger">Xóa Kích Thước</h2>

    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Bạn có chắc chắn muốn xóa kích thước này không?</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.SizeID)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.SizeID)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Size)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Size)</dd>
        </dl>
    </div>

    @using (Html.BeginForm("DeleteSize", "QLSize", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group text-center">
            <button type="submit" class="btn btn-danger btn-lg" style="margin-right: 10px;">
                <i class="fa fa-trash"></i> Xóa
            </button>
            @Html.ActionLink("Quay về", "Index", "QLSize", new { @class = "btn btn-secondary btn-lg" })
        </div>
    }
</div>
