@model IEnumerable<QLAdmin.Areas.Admin.Data.KichthuocVM>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container mt-4">
    <h2 class="mb-4">QUẢN LÝ SIZE</h2>

    <p>
        <a href="@Url.Action("AddSize", "QLSize")" class="btn btn-primary btn-sm">
            <i class="fa fa-plus"></i> Thêm mới
        </a>
    </p>

    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().SizeID)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Size)</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.SizeID)</td>
                    <td>@Html.DisplayFor(modelItem => item.Size)</td>
                    <td class="text-center">
                        <a href="@Url.Action("DetaillSize", new { id = item.SizeID })" class="btn btn-info btn-sm" title="Chi tiết">
                            <i class="fa fa-info-circle"></i>
                        </a>
                        <a href="@Url.Action("EditSize", new { id = item.SizeID })" class="btn btn-warning btn-sm" title="Sửa">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="@Url.Action("DeleteSize", new { id = item.SizeID })" class="btn btn-danger btn-sm" title="Xóa">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
