@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Link đến FontAwesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2 class=" mb-4">Dashboard</h2>
            <!-- Hiển thị thông báo nếu cần -->
        </div>

        <!-- Tổng Danh Mục -->
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card card-body bg-primary p-3 text-white text-center">
                <i class="fas fa-tags fa-3x mb-2"></i>
                <strong class="text-sm mb-0 text-capitalize font-weight-bold fs-5">Tổng Danh Mục</strong>
                <h5 class="fw-bold mb-0 fs-4">
                    @ViewBag.TotalCategories
                </h5>
            </div>
        </div>

        <!-- Tổng Sản Phẩm -->
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card card-body bg-warning text-white p-3 text-center">
                <i class="fas fa-boxes fa-3x mb-2"></i>
                <strong class="text-sm mb-0 text-capitalize font-weight-bold fs-5">Tổng Sản Phẩm</strong>
                <h5 class="fw-bold mb-0 fs-4">
                    @ViewBag.TotalProducts
                </h5>
            </div>
        </div>

        <!-- Tổng Người dùng -->
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card card-body bg-info text-white p-3 text-center">
                <i class="fas fa-users fa-3x mb-2"></i>
                <strong class="text-sm mb-0 text-capitalize font-weight-bold fs-5">Tổng Người dùng</strong>
                <h5 class="fw-bold mb-0 fs-4">
                    @ViewBag.TotalUsers
                </h5>
            </div>
        </div>

        <!-- Tổng đơn hàng -->
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card card-body bg-danger text-white p-3 text-center">
                <i class="fas fa-shopping-cart fa-3x mb-2"></i>
                <strong class="text-sm mb-0 text-capitalize font-weight-bold fs-5">Tổng Đơn Hàng</strong>
                <h5 class="fw-bold mb-0 fs-4">
                    @ViewBag.TotalOrders
                </h5>
            </div>
        </div>
        <hr />
        <!-- Đơn hàng hôm nay -->
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card card-body bg-success text-white p-3 text-center">
                <i class="fas fa-calendar-day fa-3x mb-2"></i>
                <strong class="text-sm mb-0 text-capitalize font-weight-bold fs-5">Đơn Hàng Hôm Nay</strong>
                <h5 class="fw-bold mb-0 fs-4">
                    @ViewBag.TodayOrders
                </h5>
            </div>
        </div>
    </div>
</div>
